.section__allFood {
  .search__widget {
    padding: 7px 15px;
    border: 1px solid #fde4e4;
    border-radius: 5px;

    input {
      border: none;

      
      &:focus {
        outline: none;
      }
    }
  }

  .sorting__widget {
    select {
      padding: 7px 15px;
      border: 1px solid #fde4e4;
      border-radius: 5px;
    }
  }
}