.hero__content {
  padding-top: 70px;

  .hero__title {
    font-size: 2.5rem;
    line-height: 55px;

    span {
      color: #df2020;
    }
  }

  p {
    font-size: 1rem;
    line-height: 30px;
    color: #777;
  }

  .hero__btns {
    .order__btn {
      background: #df2020;
      color: #fff;
      transition: 0.3s;

      &:hover {
        background: #212245;
      }

      i {
        margin-left: 6px;
      }
    }

    .all__foods-btn {
      background: transparent;
      border: 1px solid #df2020 !important;

      a {
        color: #df2020;
      }
    }

    button {
      border: none;
      outline: none;
      padding: 7px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
    }
  }

  .hero__service {
    p {
      color: #212245;
      font-weight: 600;
      font-size: 0.9rem;
    }

    .shipping__icon {
      i {
        padding: 5px;
        background: #df2020;
        color: #fff;
        border-radius: 50%;
        font-weight: 500 !important;
      }
    }
  }
}

.section__feature {
  .feature__subtitle {
    color: #df2020;
  }

  .feature__title {
    span {
      color: #df2020;
    }
  }

  .feature__text {
    color: #777;
  }

  .feature__item {
    p {
      color: #777;
    }
  }
}

.section__food__category {
  .food__category {
    background: transparent;
    text-align: center;
    margin-top: 30px;
    padding: 20px 0px;
    border-radius: 8px;

    button {
      border: none;
      outline: none;
      padding: 7px 20px;
      background: transparent;
      color: #212245;
      font-weight: 600;

      img {
        width: 20px;
        height: 20px;
      }
    }

    .foodBtnActive {
      background: #fa5f5f !important;
      border-radius: 5px;
      color: #fff;
      font-weight: 600;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
  }
}

.section__why__choose {
  .why__TV__food {
    .TV__food__title {
      span {
        color: #df2020;
      }
    }

    .TV__food__desc {
      color: #777;
      line-height: 28px;
    }

    .list__choose {
      .choose__title {
        font-weight: 600;
        margin-bottom: 10px;
        i {
          font-weight: 500 !important;
          color: #df2020;
        }
      }
      .choose__desc {
        color: #777;
      }
    }
  }
}

.section__testimonial {
  .testimonial {
    .testimonial__subtitle {
      color: #df2020;
    }
    .testimonial__title {
      span {
        color: #df2020;
      }
    }
    .testimonial__desc {
      color: #777;
      line-height: 30px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .section__hero {
    .hero__content {
      text-align: center;
      h5 {
        font-size: 1rem;
        p {
          font-size: 0.8rem;
          line-height: 25px;
        }
      }
      .hero__title {
        font-size: 1.5rem;
        line-height: 40px;
      }
      .hero__btns {
        justify-content: center;

        button {
          padding: 5px 15px;
          font-size: 0.7rem;
        }
      }
      .hero__service {
        p {
          font-size: 0.7rem !important;
        }
      }
    }
  }

  .section__feature {
    .feature__item {
      h5 {
        font-size: 0.9rem;
      }
      p {
        font-size: 0.8rem;
        margin-bottom: 0;
      }
    }
    .feature__subtitle {
      font-size: 1rem;
    }
    .feature__text {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
  }

  .section__food__category {
    .food__category {
      padding: 15px;
      button {
        padding: 5px 15px;
        font-size: 0.7rem;
      }
    }
  }
  .section__why__choose {
    .why__TV__food {
      .TV__food__desc {
        font-size: 0.8rem;
      }
      .list__choose {
        .choose__title {
          font-size: 0.8rem;
        }
        .choose__desc {
          margin-bottom: 0;
          font-size: 0.7rem;
        }
      }
    }
  }
  .section__testimonial {
    .testimonial {
      .testimonial__subtitle {
        font-size: 1rem;
      }
      .testimonial__desc {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .section__hero {
    .hero__content {
      text-align: center;
      h5 {
        font-size: 1rem;
        p {
          font-size: 0.8rem;
          line-height: 25px;
        }
      }
      .hero__title {
        font-size: 1.5rem;
        line-height: 40px;
      }
      .hero__btns {
        justify-content: center;
  
        //   button {
        //     padding: 5px 15px;
        //     font-size: 0.7rem;
        //   }
      }
      .hero__service {
        justify-content: center;
      }
    }
  }
  .section__why__choose {
    padding-top: 0;
  }
}
