.hero__content {
  padding-top: 70px;

  .hero__title {
    font-size: 2.5rem;
    line-height: 55px;

    span {
      color: #df2020;
    }
  }

  p {
    font-size: 1rem;
    line-height: 30px;
    color: #777;
  }

  .hero__btns {
    .order__btn {
      background: #df2020;
      color: #fff;
      transition: 0.3s;

      &:hover {
        background: #212245;
      }

      i {
        margin-left: 6px;
      }
    }

    .all__foods-btn {
      background: transparent;
      border: 1px solid #df2020 !important;

      a {
        color: #df2020;
      }
    }

    button {
      border: none;
      outline: none;
      padding: 7px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;
    }
  }

  .hero__service {

    p {
      color: #212245;
      font-weight: 600;
      font-size: 0.9rem;
    }

    .shipping__icon {
      i {
        padding: 5px;
        background: #df2020;
        color: #fff;
        border-radius: 50%;
        font-weight: 500 !important;
      }
    }
  }
}

.section__feature {
  .feature__subtitle {
    color: #df2020;

  }

  .feature__title {
    span {
      color: #df2020;
    }
  }

  .feature__text {
    color: #777;
  }

  .feature__item {
    p {
      color: #777;
    }
  }
}

.section__food__category {
  .food__category {
    background: #df2020;
    text-align: center;
    margin-top: 30px;
    padding: 20px 0px;
    border-radius: 8px;

    button {
      border: none;
      outline: none;
      padding: 7px 20px;
      background: transparent;
      color: #fff;

      img {
        width: 20px;
        height: 20px;
      }
    }

    .foodBtnActive {
      background: #fff !important;
      border-radius: 5px;
      color: #df2020;

    }
  }
}