.cart__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.639);
  z-index: 99999;

  .cart {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background: #fff;
    z-index: 999999;

    .cart__close {
      width: 100%;
      height: 60px;
      padding: 10px 20px;
      cursor: pointer;

      span, i {
        font-size: 1.2rem;
        background: #212245;
        padding: 5px;
        border-radius: 50%;
        color: #fff;
      }
    }

    .cart__item__list {
      height: calc(100vh - 150px);
      overflow-y: scroll;
    }

    .cart__bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 5px 20px;
      width: 100%;
      height: 80px;
      background: #fff;

      h6 {
        color: #df2020;
        font-size: 1.1rem;
        font-weight: 600;
      }

      button {
        border: none;
        padding: 5px 20px;
        border-radius: 5px;
        background: #fff;
        box-shadow: 1.5px 3px rgba(0, 0, 0, 0.3);
        color: #212245;
        font-weight: 600;

        &:hover {
          background: #fde4e4;
        }
      }
    }
  }
}
